<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="filename">${date:yyyy_MM_dd_hh_mm_ss}</Property>
    </Properties>
    <Appenders>
        <RollingFile name="audit" fileName="audit_${filename}.log"
                     filePattern="audit_{date:yyyy_MM_dd_hh_mm_ss}.log">
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 mB"/>
            </Policies>
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="audit"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>